POSTGRES_USER=dev_user
POSTGRES_PASSWORD=dev_password123
POSTGRES_DB=notification_db

POSTGRES_TEST_USER=postgres
POSTGRES_TEST_PASSWORD=postgres
POSTGRES_TEST_DB=notifications_test

JWT_SECRET=my-secret-password-32-chars-long
JWT_ISSUER=NotificationManagement
JWT_AUDIENCE=NotificationManagement
JWT_EXPIRATION_HOURS=24